<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Edupro!Think-Create-Innovate</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
<link href="/stylesheets/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/stylesheets/jcarousel.css" rel="stylesheet" />
<link href="/stylesheets/flexslider.css" rel="stylesheet" />
<link href="/stylesheets/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "stylesheet" href = "/stylesheets/owl.carousel.min.css">
<link href="stylesheets/blog-post.css" rel="stylesheet">
<link rel = "stylesheet" href="/stylesheets/owl.theme.default.min.css">


<style type = "text/css">

		.wrapper{
				
				width:100%;
				height:auto;
		}
		.item2{
				background-color:none; 
				padding-left:20px;
				height: 250px;
				display:block; margin-left: 10px;margin-right: 10px;
		}
		.item1{
			background-color:white;
			padding-left:0px;
				height: 350px;
				display:block; margin-left: 10px;margin-right: 10px;
		}
		.card- {
   				-ms-flex: 1 1 auto;
    			flex: 1 1 auto;
    			padding: 1.25rem;
		}	

		small {
    			font-size: 80%;
    			font-weight: 400;
		}	
		
		.ui-card.ui-layer-2, .ui-card.ui-layer-2.active-card {
    box-shadow: rgba(115, 143, 147, 0.4) 0px 6px 16px 0px;
}

			.base-card .ui-card {
   				 padding: 30px;
				}

				.ui-card.active-card {
    cursor: pointer;
}

.tutorials-section .ui-card {
    height: 220px;
}

.ui-card.active-card {
    cursor: pointer;
}

.base-card .ui-card {
    padding: 30px;
}

.ui-card {
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    padding: 10px;
}

.ui-card {
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}

.dashboard-v2 .card-box {
    box-sizing: border-box;
    margin: 30px;
    width: calc(50% - 60px);
}

.skill-progress-card {
    position: relative;
}

.ui-card.ui-layer-2, .ui-card.ui-layer-2.active-card {
    box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}

.dashboard-v2 .card-box .ui-card {
    height: 260px;
}

.skill-progress-card .ui-card {
    padding-right: 80px;
}

.ui-card.active-card {
    cursor: pointer;
}

.base-card .ui-card {
    padding: 30px;
}

.ui-card {
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}

.ui-card .ui-title {
    opacity: .75;
}

.base-card .ui-title {
    margin-bottom: 20px;
}

.theme-m .text-sec-headline-xs {
    color: #738f93;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
}


.theme-m .text-sec-headline-xs {
    font-size: 12px;
    letter-spacing: .6px;
}

.theme-m .text-sec-headline-xs, .theme-m .text-sub-headline {
    font-family: Arial,Helvetica,sans-serif;
    font-family: var(--font-family-text);
}

.base-card-title {
    color: #39424e;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.theme-m .text-content {
    color: #738f93;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.5;
}

.theme-m .text-content, .theme-m .text-para-headline {
    font-family: Arial,Helvetica,sans-serif;
    font-family: var(--font-family-text);
    font-weight: 400;
}

.text-content, .text-title {
    color: #0e3d59;
    font-family: Whitney SSm A,Whitney SSm B,Avenir,Segoe UI,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.text-content {
    font-weight: 600;
    letter-spacing: 1px;
}

.ui-progress-bar.progress-bar.theme-m {
    background: #e7eeef;
}

.ui-progress-bar.progress-bar {
    background: #c2c7d0;
    height: 5px;
    position: relative;
    width: 100%;
}

.theme-m {
    color: #0e141e;
    font-family: Arial,Helvetica,sans-serif;
    font-family: var(--font-family-text);
    font-weight: 400;
    line-height: 1.2;
    line-height: 1.2em;
}

.ui-progress-bar.progress-bar.theme-m .progress-filler {
    background: #0e141e;
}

.ui-progress-bar.progress-bar .progress-filler {
    background: #1ba94c;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease;
}

.skill-progress-card .progress-count {
    margin-top: 20px;
}

.theme-m .text-content {
    color: #738f93;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.5;
}

.theme-m .text-content, .theme-m .text-para-headline {
    font-family: Arial,Helvetica,sans-serif;
    font-family: var(--font-family-text);
    font-weight: 400;
}

.text-content, .text-title {
    color: #0e3d59;
    font-family: Whitney SSm A,Whitney SSm B,Avenir,Segoe UI,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.text-content {
    font-weight: 600;
    letter-spacing: 1px;
}

.dashboard-v2 .card-box .ui-btn.ui-btn-large {
    min-width: 240px;
}

.theme-m .ui-btn.ui-btn-line-primary {
    background: transparent;
    border: 1px solid #1ba94c;
    color: #1ba94c;
}

.theme-m .ui-btn-large.introjs-button, .theme-m .ui-btn.ui-btn-large {
    font-size: 18px;
    height: 56px;
}

.theme-m .ui-btn.ui-btn-line-primary {
    background: transparent;
    border: 1px solid #1ba94c;
    color: #1ba94c;
}


.theme-m .ui-btn.ui-btn-large {
    font-size: 18px;
    height: 56px;
}



.base-card .ui-btn {
    margin-top: 20px;
}
.theme-m .introjs-button, .theme-m .ui-btn {
    border-radius: 2px;
    font-family: monaco,Courier,monospace;
    font-family: var(--font-family-input);
    font-size: 15px;
    font-weight: 700;
    word-spacing: -2px;
}

.theme-m .ui-btn {
    border-radius: 2px;
    font-family: monaco,Courier,monospace;
    font-family: var(--font-family-input);
    font-size: 15px;
    font-weight: 700;
    word-spacing: -2px;
}

.theme-m .btn, .theme-m button, .theme-m code, .theme-m input, .theme-m pre, .theme-m select, .theme-m textarea {
    font-family: monaco,Courier,monospace;
    font-family: var(--font-family-input);
    font-weight: 400;
}
.theme-m .introjs-button, .ui-btn {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    transition: all .5s ease;
    transition-property: box-shadow,background,color,border;
}
.ui-btn, .ui-btn:active, .ui-btn:focus {
    outline: none;
}
.ui-btn {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    transition: all .5s ease;
    transition-property: box-shadow,background,color,border;
}



.theme-m .introjs-button .ui-content .ui-text, .ui-btn .ui-content .ui-text {
    order: 1;
}
.ui-btn .ui-content .ui-text {
    order: 1;
}
.theme-m .introjs-button .ui-text, .ui-btn .ui-text {
    margin: 0 5px;
}
.ui-btn .ui-text {
    margin: 0 5px;
}
.profile_photo{
	border-radius: 50%;
}

.modal-dialog{
        width: 80%;
}
</style>
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body style="padding-top:0px;">
<div id="wrapper" class="home-page">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container" style="width:1150px;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" style="float:left;"/>Edupro</a>
                </div>
                <div class="navbar-collapse collapse " styel="float:right;margin-right:0px;">
                    <ul class="nav navbar-nav">
                        <li class="active" style="height: 10px;"><a href="/">Home</a></li> 

						<li><a href="/resources">Resources</a></li>
						<li><a href="/challenges">Challenges</a></li>
                        <li><a href="/contact">Contact</a></li>
						<li><a href="/login"><button class = "btn btn-danger" style= "visibility:show;">Register/Login</button></a></li>
						<li class = "dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" style="visibility:hidden; display:none;" >
								<img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre" style="background-color: white;width:2px;height:2px;">
						</a>
						<ul class= "dropdown-menu">
						<li><a href="/about">My profile</a></li>
                            <!-- <li><a href="#">Our Team</a></li>
                            <li><a href="#">News</a></li> 
                            <li><a href="#">Investors</a></li> -->
													</ul>
												</li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="/images/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Quality Education</h3> 
					<p>We Teach Students for Sucessful Fututre</p> 
					 
                </div>
              </li>
              <li>
                <img src="/images/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Learn to be Sucessful</h3> 
					<p>Lorem ipsum dolo amet, consectetur  provident.</p> 
					 
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	
	<section id="content">
	
	<div class="container">
	    	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Courses</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br/>
			</div>
		</div>
		
	</div>
<section style="margin-left:40px;margin-right:40px;">
	<div class= "wrapper">
			<div class="owl-carousel owl-theme" style="padding-left: 0px;padding-right: 0px;padding-top:0px;background-color: #0c4270;">
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary "  data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" >
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							 alt="Thumbnail [30%x225]" style="height: 200px; width: 100%; display: block;padding-top: 10px;margin-top:20px;" 
							 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165e7719b8b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165e7719b8b%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.265625%22%20y%3D%22121.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
							<div class="card-">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
									  <div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
									  </div>
									  <small class="text-muted">9 mins</small>
									</div>
								  </div>
					</div>
					<div class="item1" ><h4>8</h4></div>
					<div class="item1" ><h4>9</h4></div>
					<div class="item1" ><h4>10</h4></div>
					<div class="item1" ><h4>11</h4></div>
					<div class="item1" ><h4>12</h4></div>					

			</div>
	</div>
	</section>
	</section>


	<section id="content">

	<div class="container">
		<div class="row">
	<div class="col-md-12">
		<div class="aligncenter"><h2 class="aligncenter">Articles</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
		<br/>
	</div>
	</div>

	</div>

	<section style="margin-left:40px;margin-right:40px;">
	<div class= "wrapper">
			<div class="owl-carousel owl-theme" style="padding-left: 30px;padding-right: 30px;padding-top:30px;background-color: #0c4270;">
				<div class= "item2">
					<div class="abc">
					<div class="tutorial-card-tile">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs"> Article 1</h5>
								<div class="card-content">
								<div class = "base-card-detail text-content">
									<div>
										<div class="tutorial-content text-content">
											<div class="LinesEllipsis">
												"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
												sed diam nonumy eirmod tempor invidunt ut labore et dolore
													magna aliquyam erat, sed diam voluptua. At vero eos et 

												<wbr>

											</div>
										</div>
										<div class="start-tutorial bold"  data-toggle="modal" data-target="#view" style="padding-top:20px;">
											<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
										</div>
									</div>	
								</div>
								</div> 
							</div>
					</div>
					</div>
				</div>

				<div class= "item2">
					<div class="abc">
					<div class="tutorial-card-tile">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs"> Article 1</h5>
								<div class="card-content">
								<div class = "base-card-detail text-content">
									<div>
										<div class="tutorial-content text-content">
											<div class="LinesEllipsis">
												"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
												sed diam nonumy eirmod tempor invidunt ut labore et dolore
													magna aliquyam erat, sed diam voluptua. At vero eos et 

												<wbr>

											</div>
										</div>
										<div class="start-tutorial bold"  data-toggle="modal" data-target="#view" style="padding-top:20px;">
											<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
										</div>
									</div>	
								</div>
								</div> 
							</div>
					</div>
					</div>
				</div>


				<div class= "item2">
					<div class="abc">
					<div class="tutorial-card-tile">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs"> Article 1</h5>
								<div class="card-content">
								<div class = "base-card-detail text-content">
									<div>
										<div class="tutorial-content text-content">
											<div class="LinesEllipsis">
												"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
												sed diam nonumy eirmod tempor invidunt ut labore et dolore
													magna aliquyam erat, sed diam voluptua. At vero eos et 

												<wbr>

											</div>
										</div>
										<div class="start-tutorial bold"  data-toggle="modal" data-target="#view" style="padding-top:20px;">
											<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
										</div>
									</div>	
								</div>
								</div> 
							</div>
					</div>
					</div>
				</div>



				<div class= "item2">
					<div class="abc">
					<div class="tutorial-card-tile">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs"> Article 1</h5>
								<div class="card-content">
								<div class = "base-card-detail text-content">
									<div>
										<div class="tutorial-content text-content">
											<div class="LinesEllipsis">
												"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
												sed diam nonumy eirmod tempor invidunt ut labore et dolore
													magna aliquyam erat, sed diam voluptua. At vero eos et 

												<wbr>

											</div>
										</div>
										<div class="start-tutorial bold"  data-toggle="modal" data-target="#view" style="padding-top:20px;">
											<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
										</div>
									</div>	
								</div>
								</div> 
							</div>
					</div>
					</div>
				</div>



				<div class= "item2">
					<div class="abc">
					<div class="tutorial-card-tile">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs"> Article 1</h5>
								<div class="card-content">
								<div class = "base-card-detail text-content">
									<div>
										<div class="tutorial-content text-content">
											<div class="LinesEllipsis">
												"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
												sed diam nonumy eirmod tempor invidunt ut labore et dolore
													magna aliquyam erat, sed diam voluptua. At vero eos et 

												<wbr>

											</div>
										</div>
										<div class="start-tutorial bold"  data-toggle="modal" data-target="#view" style="padding-top:20px;">
											<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
										</div>
									</div>	
								</div>
								</div> 
							</div>
					</div>
					</div>
				</div>

				<div class= "item2">
					<div class="abc">
					<div class="tutorial-card-tile">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs"> Article 1</h5>
								<div class="card-content">
								<div class = "base-card-detail text-content">
									<div>
										<div class="tutorial-content text-content">
											<div class="LinesEllipsis">
												"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
												sed diam nonumy eirmod tempor invidunt ut labore et dolore
													magna aliquyam erat, sed diam voluptua. At vero eos et 

												<wbr>

											</div>
										</div>
										<div class="start-tutorial bold"  data-toggle="modal" data-target="#view" style="padding-top:20px;">
											<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#view">View</button>
										</div>
									</div>	
								</div>
								</div> 
							</div>
					</div>
					</div>
				</div>
					
			</div>
	</div>
	</section>
	</section>

	<section id="content" style="padding-bottom: 30px;">

	<div class="container">
				<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Challenges</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br/>
			</div>
		</div>
		
	</div>
	<section style="margin-left:40px;margin-right:40px;margin:bottom">
			<div class= "wrapper">
					<div class="owl-carousel owl-theme" style="padding-left: 30px;padding-right: 30px;padding-top:30px;background-color: #0c4270;">
					<div class="item2">
							<div class="tutorial-card-tile">
						<div class="skill-progress-card card-box">
							<div class="ui-card ui-layer-2 active-card">
								<h5 class="ui-title text-sec-headline-xs">Challenge 1</h5>
								<div class="card-content">
									<h3 class="base-card-title" title="Solve It">Solve It</h3>
									<div class="base-card-detail text-content">
										<div class="skill-progress-bar">
											<div class="ui-progress-bar progress-bar theme-m">
												<div class="progress-filler" style="width:0%">
												</div>
											</div> 
											<div class="progress-count text-content">
												<span class="points-secured">(0 out of5)</span>
											</div>
										</div>
									</div>
									<div>
										<button type="button" class="btn btn-sm btn-outline-secondary"><a href="/challenges/takechallenges">Take Challenge</a></button>
									</div>
								</div>
							</div>  
						</div>
						</div>
							</div>

							<div class="item2">
									<div class="skill-progress-card card-box">
										<div class="ui-card ui-layer-2 active-card">
											<h5 class="ui-title text-sec-headline-xs">Challenge 1</h5>
											<div class="card-content">
												<h3 class="base-card-title" title="Solve It">Solve It</h3>
												<div class="base-card-detail text-content">
													<div class="skill-progress-bar">
														<div class="ui-progress-bar progress-bar theme-m">
															<div class="progress-filler" style="width:0%">
															</div>
														</div> 
														<div class="progress-count text-content">
															<span class="points-secured">(0 out of5)</span>
														</div>
													</div>
												</div>
												<div>
													<button type="button" class="btn btn-sm btn-outline-secondary">Take Challenge</button>
												</div>
											</div>
										</div>  
									</div>
										</div>

					<div class="item2">
							<div class="skill-progress-card card-box">
								<div class="ui-card ui-layer-2 active-card">
									<h5 class="ui-title text-sec-headline-xs">Challenge 1</h5>
									<div class="card-content">
										<h3 class="base-card-title" title="Solve It">Solve It</h3>
										<div class="base-card-detail text-content">
											<div class="skill-progress-bar">
												<div class="ui-progress-bar progress-bar theme-m">
													<div class="progress-filler" style="width:0%">
													</div>
												</div> 
												<div class="progress-count text-content">
													<span class="points-secured">(0 out of5)</span>
												</div>
											</div>
										</div>
										<div>
											<button type="button" class="btn btn-sm btn-outline-secondary">Take Challenge</button>
										</div>
									</div>
								</div>  
							</div>
								</div>


							<div class="item2">
									<div class="skill-progress-card card-box">
										<div class="ui-card ui-layer-2 active-card">
											<h5 class="ui-title text-sec-headline-xs">Challenge 1</h5>
											<div class="card-content">
												<h3 class="base-card-title" title="Solve It">Solve It</h3>
												<div class="base-card-detail text-content">
													<div class="skill-progress-bar">
														<div class="ui-progress-bar progress-bar theme-m">
															<div class="progress-filler" style="width:0%">
															</div>
														</div> 
														<div class="progress-count text-content">
															<span class="points-secured">(0 out of5)</span>
														</div>
													</div>
												</div>
												<button class="ui-btn ui-btn-large ui-btn-line-primary" tabindex="0">
													<div class="ui-content align-content-left">
														<span class="ui-text"><a href="/challenges/takechallenges">Take Challenge</a></span>
													</div>
												</button>
											</div>
										</div>  
									</div>
										</div>		

					</div>
			</div>
			</section>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-">
						<div class="container">

							<div class="row">
				
								<!-- Post Content Column -->
								<div style="width:900px;">
				
									<!-- Title -->
									<h1>Post Title</h1>
				
									<!-- Author -->
									<p class="lead">
										by
										<a href="#">Name Of the Mentor</a>
									</p>
				
									<hr>
				
									<!-- Date/Time -->
									<p>Posted on January 1, 2018 at 12:00 PM</p>
				
									<hr>
				
									<!-- Preview Image -->
									<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
				
									<hr>
				
									<!-- Post Content -->
									<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
				
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
				
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
				
									<blockquote class="blockquote">
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
										<footer class="blockquote-footer">Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>
				
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
				
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
				
									<hr>
				
								
				
							</div>
							<!-- /.row -->
				
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		</div>

					
					

	<footer>
	<div class="container" style="margin-top:20px;">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Our Contact</h5>
					<address>
					<strong>Edupro company Inc</strong><br>
					JC Main Road, Near Silnile tower<br>
					 Pin-21542 NewYork US.</address>
					<p>
						<i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="#">Latest Events</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Recent News</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">

					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.easing.1.3.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script src="/javascripts/jquery.fancybox-media.js"></script>  
<script src="/javascripts/jquery.flexslider.js"></script>
<script src="/javascripts/animate.js"></script>
<!-- Vendor Scripts -->
<script src="/javascripts/modernizr.custom.js"></script>
<script src="/javascripts/jquery.isotope.min.js"></script>
<script src="/javascripts/jquery.magnific-popup.min.js"></script>
<script src="/javascripts/animate.js"></script>
<script src="/javascripts/custom.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/owl.carousel.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>

<script>
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
})


</script>
</body>
</html>