<!DOCTYPE html>
<html>

<head>
    <title>Edupro! Wonder-Explore-Innovate</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/stylesheets/login.css" rel="stylesheet" id="bootstrap-css">
    <script src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/serverJs/login.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row" style="margin-bottom: 30px;float: center;margin-left: 33%;">
                            <a class="navbar-brand" href="index.html" style="color: #ef801a"><img src="/images/logo.png" alt="logo"/>Edupro</a>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                </form>



                                
                                <form id="signupform" action="/signup/register" method="post" role="form" style="display: none;" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="institute" id="institute" tabindex="2" class="form-control" placeholder="Institute Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="git_link" id="git_link" tabindex="2" class="form-control" placeholder="Github Link">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="linkedin_link" id="linkedin_link" tabindex="2" class="form-control" placeholder="LinkedIn Link">
                                    </div>
                                    <div class="form-group">
                                        <div style="border:solid 1px; border-radius: 0.5em;padding:7px; border-color:antiquewhite;">
                                            <label class="radio-inline">
                                                <input type="radio" name="profession" value="mentor" checked>Mentor</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="profession" value="mentee">Student</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div style="border:solid 1px; border-radius: 0.5em;padding:7px; border-color:antiquewhite;">
                                            <label id="#bb"> Enter Your File
                                                <input type="file" name="files" size="60" value="" id='image' onchange="readURL(this);">
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" class="form-control btn btn-register" value="Register Now">
                                                <p style="margin-bottom:15px;" class="signmsg"  ></p
>                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>